root = true

[*]
# like -i=2
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
curly_bracket_next_line = false
spaces_around_operators = true
spaces_around_brackets = inside
insert_final_newline = true
end_of_line = lf

# --language-variant
shell_variant      = bash
binary_next_line   = true
# --case-indent
switch_case_indent = true
space_redirects    = true
keep_padding       = false
# --func-next-line
function_next_line = false

# Ignore the entire "docs" directory when calling shfmt on directories,
# such as "shfmt -l -w .". When formatting files directly,
# like "shfmt -w docs/foo.sh" or "shfmt --filename=docs/foo.sh",
# the ignore logic is applied only when the --apply-ignore flag is given.
[docs/**]
ignore = true
